*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    /* background: #f0f2f5; */
}
.head{
    background-color: #fff;
    width: 100%;
    border: 1px solid #e0e1e2;
}
.head-top{
    width: 100%;
    height: 36px;
    background-color: #333;
    line-height: 36px;
}
.top-con{
    width: 1226px;
    height: 36px;
    margin: 0 auto;
    background-color: #333;
}
/* 北京 */
.top-left{
    width: 69px;
    height: 36px;
    float: left;
    color: #b0b0b0;
    cursor: pointer;
}
.icon-dingwei{
    width: 25px;
    height: 36px;
    float: left;
}
/* 购物车等 */
.top-right{
    box-sizing: border-box; 
    color: #b0b0b0;
}
.top-cart{
    margin-left: 62px;
    padding-right: 16px;
    background: #424242;
    cursor: pointer;
    float: right;
}
.icon-gouwuchekong{
    width: 25px;
    height: 36px;
    margin-left:15px; 
    float: left;
}
.top-inform{
    float: right;
    margin-left: 40px;
    font-size: 12px;
    cursor: pointer;
}
.top-order{
    float: right;
    margin-left: 40px;
    font-size: 12px;
    cursor: pointer;
}
.top-login{
    float: right;
    margin-left: 40px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
}
.login a,.register a{
    display: block;
    color: #b0b0b0;
}
.top-login .register{
    margin-left: 12px;
}
.head-bottom{
    line-height: 72px;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 1226px;
    background-color: #fff;
}
.line{
    width: 100%;
    min-height: 76px;
    border-bottom: 2px solid #001e50;
    position: absolute;
    left: 0;
    top: 0;
}
.bottom-con{
    width: 1226px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
    /* background-size: 100%; */
}
.list{
    width: 766px;
    display: flex;
    justify-content: flex-start;
}
.lista{
    width: 478px;
    display: flex;
    justify-content: flex-start ;
    box-sizing: border-box;
    font-size: 14px;
    color:rgba(0,0,0,.65);
}
.shouye,.huodong,.car,.dian,.chepin{
    height: 78px;
    display: inline-block;
    text-align: center;
    padding-bottom: 24px;
    box-sizing: border-box;
    margin:0 26px 0 26px;
}
.shouye a,.huodong a,.car a,.dian a,.chepin a{
    display: inline-block;
    color: #4a4a4a;
}
.shouye:hover{ 
    color: #00b0f0;
    border-bottom: 4px solid #00b0f0;
} 
.huodong:hover{ 
    color: #00b0f0;
    border-bottom: 4px solid #00b0f0;
}
.car:hover{ 
    color: #00b0f0;
    border-bottom: 4px solid #00b0f0;
}
.dian:hover{ 
    color: #00b0f0;
    border-bottom: 4px solid #00b0f0;
}
.chepin:hover{ 
    color: #00b0f0;
    border-bottom: 4px solid #00b0f0;
}
.box2{
    margin-top: 48px;
    width: 72px;
    z-index: 2;
    background-color: #fff;
    margin-left: 20px;
}
.box2 .logo{
    width: 48px;
    height: 48px;
    background: url(../images/logo.png)  no-repeat;
    background-size:100%; 
    display: flex;
    margin: auto; 
}
.box3{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
}
.box3 i{
    cursor: pointer;
}
.logo2{
    cursor: pointer;
    margin: 0 25px 0 18px;
    width: 80px;
}
.box3 .logo2 img{
    width: 86px;
    height: 26px;
}
/* 中间 */
.main{
    width: 100%;
    position: relative;
    background: #f0f2f5;
}
.maintop{
    width: 100%;
    top:96px;
}
.topcon{
    box-sizing: border-box;
    /* padding-top: 140px; */
    width: 1226px;
    margin: 0 auto;
    background: #f0f2f5;
    /* background-color: pink; */
}
.toptitle{
    max-width: 1226px;
    margin: 0 auto;
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    height: 60px;
    line-height: 60px;
}
.item{
    margin-right: 8px;
    position: relative;
}
.item a{
    font-size: 12px;
    color: #262626;   
}
.item img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left:8px; 
}
/* main的中间 */
.maincenter{
    width: 1226px;
    clear: both;
    position: relative;
    margin: 0 auto;
    font-family: PingFang-SC;
    /* background-color: green; */
}
.centerboxone{
    float: left;
    background-color: #fff;
    /* background-color: #4a4a4a; */
    padding: 20px 0 20px 20px;
    min-height: 624px;
}
.oneleft{
    float: left;
    width: 482px;
    height: 482px;
}
.bigimg{
    width: 482px;
    height: 482px;
}
.bigimg img{
    width: 482px;
    height: 482px;
}
.smallimg{
    width: 110px;
    height: 88px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    overflow: hidden;
    border: 3px solid #00b0f0;
    margin-right: 9px;
}
.smallimg img{
    display: inline-block;
    width: 110px;
    height:88px ;
    
}
.oneright{
    float: left;
    width: 464px;
    min-height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 33px;
    background-color: #fff;
    /* background-color: red; */
    position: relative;
}
h3{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #212c3d;
}
.baoyou{
    margin: 8px 0;
}
.baoyou span{
    background-color: #00b0f0;
    padding:4px 6px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
}
.content{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 18px;
    align-items: flex-end;
    font-weight: 400;
    font-style: normal;
    color: #4a4a4a;
}
.content h2{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    width: 50px;
    text-align: left;
    line-height: 1.5;
}
.money{
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    color: #d0021b;
    padding-right: 15px;
}
.pri{
    font-size: 18px;
    color: #4a4a4a;
    padding-left: 8px;
    text-decoration: line-through;
}
.shuliang{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 18px;
    align-items: center;
}
.shuliang h2{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    width: 50px;
    text-align: left;
    line-height: 1.5;
}
.piece .sub{
    width: 44px;
    height: 44px;
    border: 1px solid #e0e1e2;
    border-radius: 4px;
    padding: 0;
}
.piece .count{
    display: inline-block;
    width: 80px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #e0e1e2;
    border-radius: 4px;
    text-align: center;
    margin: 0 6px;
    color: #4a4a4a;
}
.add{
    width: 44px;
    height: 44px;
    border: 1px solid #e0e1e2;
    border-radius: 4px;
    padding: 0;
}
.stock{
    font-size: 14px;
    padding-left: 20px;
}
.shopping{
    position: absolute;
    bottom: 0;
}
.addCart{
    background-color: #fff;
    margin-right: 14px;
    border-radius: 42.5px;
    width: 188px;
    height: 60px;
    color: #001e50;
    outline: none;
    /* border: 1px solid #001e50; */
    font-size: 24px;
}
.topay{
    background-color: #001e50;
    color: #fff;
    border-radius: 42.5px;
    width: 188px;
    height: 60px;
    outline: none;
    /* border: 1px solid #001e50; */
    font-size: 24px;
}
/* 轮播图 */
.centerboxtwo{
    background-color:#fff;
}
.twocon{
    width: 230px;
    margin: 0 15px;
    height: 624px;
    overflow: hidden;
}
.twocon h3{
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-top:0; 
    margin-bottom: 10px;
    width: 228px;
    background-color: #4a4a4a;
    font-family: PingFangSC;
    color: #fff;
    border-left: 4px solid #00b0f0;
}
#banner{
    width: 230px;
    height: 564px;
    overflow: hidden;
}
#bannerimg{
    height: 840px;
}
#bannerimg li{
    display: block;
    height: 272px;
    margin-bottom: 10px;

}
#bannerimg li img{
    width: 100%;
    height:100%;
}
.mainfoot{
    width: 100%;
    clear: both;
    position: relative;
    margin: 50px 0;
    font-family: PingFang-SC;
}
.mainfoot h3{
    max-width: 1226px;
    margin: 0 auto 16px;
    color: #212c3d;
    font-size: 20px;
}
.bantwo{
    width: 1354px;
    margin: 0 auto;
    position: relative;
}
.bancon{
    max-width: 1238px;
    width: 1238px;
    height: 354px;
    margin: 0 auto;
}
.icon-jiantou-copy{
    background: none;
    width: 16px;
    height: 39px;
    position: absolute;
    left: 0 ;
    font-size: 32px !important;
    right: auto;
    top: 50%;
    margin-top: -22px;  
}
#ban{
    width: 1240px;
    height: 354px;
    overflow: hidden;
}
#banlength{
    width:99999999px;
    height: 354px;
    margin-bottom: 0;
    float: left;
}
#banimg{
    float: left;
    /* overflow: hidden; */
    /* width:99999px;
    height: 354px;
     */
}
#banimg img{
    width: 153px;
    height: 153px;
    margin: 10px 0;
}
#banimg li{
    width: 294px;
    padding: 44px 0 34px;
    background-color: #fff;
    float: left;
    margin-right: 16px;
    text-align: center;
}
#banimg .tit{
    overflow: hidden;
    height: 23px;
    font-family: PingFang-SC;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.43;
    color: #212c3d;
}
#banimg .price{
    height: 21px;
    font-family: PingFang-SC;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #00b0f0;
}
.number{
    height: 18px;
    font-family: PingFang-SC;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}
.icon-arrow-right{
    background: none;
    height: 39px;
    right: 0;
    left: auto;
    top: 50%;
    position: absolute;
    font-size: 32px !important;
    margin-top: -22px;
}
/* 详情 */
.detail{
    width: 100%;
    /* background-color: pink; */
}
.detailcon{
    max-width: 1226px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.detleft{
    width: 228px;
    overflow: hidden;
}
.dettit{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #4a4a4a;
    font-family: PingFangSC;
    font-size: 18px;
    color: #fff;
    border-left: 4px solid #00b0f0;
}
.detleft li{
    height: 273.333px;
    margin-bottom: 10px;
}
.detright{
    width: 980px;
    margin: 0 0 10px 18px;
    background-color: #fff;
    
}
.dettitle{
    width: 120px;
    background-color: #001e50;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #001e50;
}
.detright img{
    width: 100%;
}

/* 底部 */
.foot{
    background: #fff;
    box-shadow: 0 -1px 3px 0 #3d464d;
    box-shadow: 0 -1px 0 0 #e0e1e2;
    width: 100%;
    height: 225px;
    padding-top: 40px;
    position: relative;
    bottom: 0;
    margin-top:100px; 
}
.foot-con{
    width: 1226px;
    height: 225px;
    margin: 0 auto;
}
.foottopbox{
    box-sizing: border-box;
    display: flex;
    height: 141px;
    padding-left:42px; 
}
.boxone,.boxtwo{
    box-sizing: border-box;
    width: 20.83333333%;
    padding-left: 2px;
}
.oneli,.twoli,.threeli{
    line-height: 32px;
}
.boxthree{
    box-sizing: border-box;
    width: 25%;
    padding-left: 2px;
}
.boxfour{
    color: #000;
    line-height: 25px;
    font-size: 14px;
    height: auto
}
.foura{
    width: 195px;
    height: 141px;
    float: left;
    text-align: center;
    font-size: 16px;
}
.foura img,.fourb img{
    /* width: 116px; */
    height: 116px;
    padding:0 40px 0 40px; 
}
.fourb{
    width: 195px;
    height: 141px;
    float: left;
    text-align: center;
}
.footbutbox{
    text-align: left;
    padding: 0 0 30px 42px;
    color: #616161;
}
.but{
    text-decoration: none;
    color: #616161;
    font-size: 12px;
}










